<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'hello')}">
<body>
  <div class="container">
    <h2>About</h2>
    <p>
      I am an engineering professional that is continually growing his skills in: 
      <ul>
        <li>Software Development and Practices</li>
        <li>Chemical Engineering</li>
        <li>Operations and Incident Management</li>
        <li>Emotional Intelligence</li>
      </ul> 
      I have graduated with a bachelor's degree in Chemical Engineering. Since then, I have worked as a developer, application analyst, quality assurance and combustion/gasification engineer. 
      I have focused my area of expertise towards software development. I see that the world is in need of more creative and enthusatic developers as our culture becomes more dependent on software.
      I am familiar with agile and waterfall environments. 
    </p>
  </div>
</body>
</html>