<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'index')}">

<body>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
      
    </a>
    <a href="https://github.com/jacobesplin?tab=repositories"><p>Github</p></a>
    <h1>Programming Projects</h1>
    <p>Code</p>
    <a type="button" class="btn btn-lg btn-default" href="/java"><span class="glyphicon glyphicon-flash"></span> Java</a>
    <a type="button" class="btn btn-lg btn-default" href="/python"><span class="glyphicon glyphicon-flash"></span> Python</a>
    <a type="button" class="btn btn-lg btn-default" href="/javascript"><span class="glyphicon glyphicon-flash"></span> JavaScript</a>
    <a type="button" class="btn btn-lg btn-default" href="/cplusplus"><span class="glyphicon glyphicon-flash"></span> C++</a>
    <p>Web Framework</p>
    <a type="button" class="btn btn-lg btn-success" href="/django"><span class="glyphicon glyphicon-briefcase"></span>Django</a>
    <a type="button" class="btn btn-lg btn-success" href="/flask"><span class="glyphicon glyphicon-briefcase"></span>Flask</a>
    <a type="button" class="btn btn-lg btn-success" href="/tomcat"><span class="glyphicon glyphicon-briefcase"></span>Tomcat</a>
    <a type="button" class="btn btn-lg btn-success" href="/node"><span class="glyphicon glyphicon-briefcase"></span>Node.js</a>
    <p>Web Hosting</p>
    <a type="button" class="btn btn-lg btn-primary" href="/pythonanywhere"><span class="glyphicon glyphicon-th-large"></span>PythonAnywhere</a>
    <a type="button" class="btn btn-lg btn-primary" href="/heroku"><span class="glyphicon glyphicon-th-large"></span>Heroku</a>
    <a type="button" class="btn btn-lg btn-primary" href="/personal"><span class="glyphicon glyphicon-th-large"></span>Personal </a>
  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
    Working on projects to better my skills and enjoying the benefits
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> Personal Projects</h3>
      <ul>
        <li></li>
        <li></li>
      </ul>
    </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-link"></span> Next Steps</h3>
      <ul>
        <li>Info</li>
        <ul>
          <li>Information</li>

        </ul>
      </ul>
     
    </div>
  </div> <!-- row -->
</div>

</body>
</html>
